.activeCard {
  background-color: rgba(250, 233, 250, 0.479) !important;
  border: 2px solid rgb(230, 10, 230);
}

.verifiedCard {
  background-color: rgba(236, 245, 233, 0.479) !important;
  border: 2px solid rgb(99, 185, 88);
}
